<html ng-app='cvmod'>
	<head>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/art.css">
		<title>links</title>
	</head>
	<body ng-controller='cvCtrl'>
		<div class='container'>
			<h2>links</h2>
		</div>
		<div id='main' class='container'>
			<!-- this grid is hidden-->
			<!--<div class='row border' ng-repeat='proj in projdata' ng-class="$even ? 'row border even' : 'row border odd'" hidden>
				<div>
					<div class='col-sm-1'>{{proj.name}}</div>
					<div class='col-sm-3 blue'>{{proj.title}}</div>
					<div class='col-sm-5'>{{proj.description}}</div>
					<div class='col-sm-3 green'>{{proj.technology}}</div>
				</div>
			</div>-->
			<!-- grid is visible-->
			<div class='row border' ng-repeat='associate in cvdata' ng-class="$even ? 'row border even' : 'row border odd'">
				<div>
					<div class='col-sm-1'>{{associate.name}}</div>
					<div class='col-sm-5 blue'>
						<div ng-repeat='website in associate.links'>
							<a href='{{website.url}}'>{{website.site}}</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<script src="js/angular.min.js" type="text/javascript"></script>
		<!--<script src="js/projapp.js" type='text/javascript'></script>-->
		<script src="js/cvapp.js" type='text/javascript'></script>
	</body>
</html>