.even {
	background-color: gainsboro;
}
.odd {
	background-color: white;
}
.border {
	border: 0.1em solid midnightblue;
}
.blue {
	color: mediumblue;
}
.green {
	color : green;
}
body {
	background-color: black;
}
h2 {
	color : whitesmoke;
}